body {
    background-color: #F0F0F0;
    font-family: 'Inter', sans-serif;
}

#resultado {
    background-color: #FFFFFF;
    border-radius: 20px;
    width: 95%;
    max-width: 350px;
    margin: 10px auto;
    padding: 10px;
}

/* Títulos e Textos */
.titulo {
    text-align: center;
    color: #000000;
    font-weight: bold;
}

.titulo .nome {
    color: #34D399;
}

.mensagem,
.valor,
.saldo-existente,
.timer,
.vias-resgate,
.texto-caixa,
.receber-pagamento,
.saldo-garantia,
.direito,
.imagens,
.valores-reais,
.comentario {
    text-align: center;
    margin: 10px 0;
}

.mensagem {
    color: #64748B;
    font-size: 20px;
}

.valor {
    font-size: 37px;
    color: #34D399;
    font-weight: bold;
    transition: all 1s ease-in-out;
}

.saldo-existente {
    background-color: #F7F8F9;
    color: #64748B;
    border-radius: 5px;
    padding: 5px 10px;
    border: none;
    font-size: 16px;
    font-weight: bold;
}

.timer,
.timer .tempo {
    color: #000;
    font-size: 20px;
    font-weight: bold;
}

.timer .tempo {
    color: #F87171;
}

.saldo-garantia {
    font-size: 22px;
    text-align: center;
    margin: 10px 0;
}

.saldo-garantia .valor-garantia {
    color: #34D399;
    font-weight: bold;
    font-size: 22px;
}

.direito {
    font-size: 27px;
    color: #000000;
}

.valores-reais {
    font-size: 20px;
    color: #64748B;
    text-align: center;
    margin: 10px 0;
}

/* Barras e Separadores */
.traco {
    height: 10px;
    background: linear-gradient(to right, #F87171, #FCD34D, #34D399);
    position: relative;
    border-radius: 5px;
    margin: 20px 0;
}

.divisor {
    height: 1px;
    background: linear-gradient(to right, transparent, #A3A3A3, transparent);
    margin: 20px 0;
}

/* Elementos de Layout */
.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.vias-resgate {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: #11151F;
    margin: 10px 0 0 10px;
}

.vias-resgate i {
    margin-right: 10px;
    color: #2563EB;
}

.texto-caixa {
    text-align: left;
    margin: 0 20px;
}

.caixa {
    width: 85%;
    margin: 0 auto;
    background-color: #E8F1FF;
    padding: 5px 20px 20px 20px;
    border-radius: 10px;
    margin-bottom: 15px;
}

.receber-pagamento {
    background-color: #34D399;
    color: #FFFFFF;
    border-radius: 50px;
    padding: 15px 20px;
    border: none;
    font-size: 19px;
    font-weight: bold;
    width: 80%;
    margin: 0 auto;
}

/* Imagens e Ícones */
.imagens {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    padding: 0 10px;
}

.imagens img {
    width: 107px;
    height: 264px;
    border-radius: 9px;
}

/* Comentários */
.comentario {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #F7F8F9;
    padding: 10px;
    border-radius: 10px;
    margin-top: 20px;
    position: relative;
    margin-left: 50px;
}

.imagem-comentario {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    position: absolute;
    left: -50px;
    top: 0;
}

.texto-comentario {
    text-align: left;
}

.texto-comentario .tempo-post {
    color: #64748B;
    margin: 2px 0;
}

.texto-comentario .texto-post {
    color: #191D23;
}

/* Alerta */
.alerta {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: #DFFFD6;
    padding: 10px;
    border-left: 5px solid #2E8B57;
    position: relative;
}

.alerta-content {
    display: flex;
    align-items: center;
    z-index: 1;
    padding-right: 25px;
    justify-content: center;
    width: calc(100% - 25px);
}

.alerta-icon i.fa-check-circle {
    color: #006400;
    font-size: 18px;
    margin-right: 10px;
}

.alerta-text {
    color: #006400;
    font-size: 12px;
    flex: 1;
}

.alerta-close {
    background-color: #A9DFBF;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 10px;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
}

.alerta-close i.fa-times {
    color: #006400;
    font-size: 18px;
}

/* Modal */
#modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
    z-index: 9999;
}

#modal-content {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

#modal-iframe {
    width: 100%;
    height: 100%;
    border: none;
}

#closeModal {
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 30px;
    cursor: pointer;
    background-color: white;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
}

/* Elementos decorativos */
.circulo {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #34D399;
    border-radius: 50%;
    top: -5px;
    left: 10%;
    box-shadow: 0px 0px 5px #34D399;
}
